.row.row-padded
  .col-sm-3
    = label_tag "intention", "I'm writing this post to..."
    = required
    .hint.small Consciously setting your intention can encourage more thoughtful and more productive discussions.
  .col-sm-9
    .row-padded
      = select_tag "intention_prepopulator", options_for_select([["- select an intention -", ""]] + ConversationParticipantJoin::INTENTION_PRESETS), {class: "js-populate-value form-control", data: {target: "#intention"}}
    = text_field_tag "intention", params[:intention], class: "form-control"
