%h1 People

.row
  .col-sm-4
    %p <strong>Here’s a list of all the cool people you can connect with and introduce yourself to.</strong>
  .col-sm-8
    %table.table.table-striped{style: "width: 100%;"}
      %tr
        %th
        %th Name
        %th Member since
        %th Last seen
      - @users.each do |user|
        %tr
          %td= image_tag(user.image.url(:thumb), class: "image-framed-tiny", style: "width: 30px;")
          %td= link_to (user.name.presence || "Nameless Cool Person"), user_path(user)
          %td= print_date(user.created_at, abbreviated: true)
          %td= print_date(user.current_sign_in_at, abbreviated: true)
