%h1 People
%p Here’s a list of all the cool people you can connect with and introduce yourself to.

- @users.each do |user|
  %div
    %hr
    = link_to image_tag(user.image.url(:thumb), style: "float: left; width: 40px; margin-right: 10px;"), user_path(user)
    .title
      %span.h4= link_to user.full_name, user_path(user)
    .dates.text-muted
      Member since #{print_date(user.created_at)}.
      Last seen #{print_date(user.current_sign_in_at, time: true)}
