.row
  .col-sm-4
    %h1 All People
    %p All people are part of our growing community of creative change-makers. Use this page to get to know others, and introduce yourself to them.
    %p
      - unless user_signed_in?
        = link_to "Join the community", new_user_registration_path, class: "test-signup-button btn btn-success"

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/people#{[1,2].shuffle.first}.jpg", style: "width: 100%;"

  .col-sm-8
    - @users.each do |user|
      = render partial: "list_row", locals: {user: user, opts: {}}
