%p.likes
  - if current_user and LikeFlag.where(user: current_user, target: target).any?
    = link_to fa_icon("heart") + " #{link_wording}", like_flag_path(target.class.to_s, target), method: :delete, class: "btn btn-default active"
  - else
    = link_to fa_icon("heart") + " " + link_wording, like_flag_path(target.class.to_s, target), method: :post, class: "btn btn-info"
  - like_flags = LikeFlag.where(target: target).includes(:user)
  - if like_flags.size > 0
    &nbsp;
    %span.badge.like-flags-count.js-tooltip{"data-tooltip": like_flags.first(10).map{ |f| f.user.name }.compact.join(", ")}= like_flags.size
