%p.stay-informed
  - if current_user and StayInformedFlag.where(user: current_user, target: target).any?
    = link_to fa_icon("bell") + " #{link_wording}", stay_informed_flag_path(target.class.to_s, target), method: :delete, class: "btn btn-default active"
  - else
    = link_to fa_icon("bell") + " #{link_wording}", stay_informed_flag_path(target.class.to_s, target), method: :post, class: "btn btn-info"
  - stay_informed_flags = StayInformedFlag.where(target: target).includes(:user)
  - if stay_informed_flags.size > 0
    &nbsp;
    %span.badge.stay-informed-flags-count.js-tooltip{"data-tooltip": stay_informed_flags.first(10).map{ |f| f.user.full_name }.compact.join(", ")}= stay_informed_flags.size
