%span.stay-informed
  - num_stay_informed_flags = StayInformedFlag.where(target: target).count
  - text = num_stay_informed_flags > 0 ? " #{num_stay_informed_flags}" : ""
  - if current_user and StayInformedFlag.where(user: current_user, target: target).any?
    = link_to fa_icon("bell") + text, stay_informed_flag_path(target.class.to_s, target), method: :delete, class: "btn btn-default active js-tooltip", title: link_wording
  - else
    = link_to fa_icon("bell") + text, stay_informed_flag_path(target.class.to_s, target), method: :post, class: "btn btn-info js-tooltip", title: link_wording
