#home-posts-carousel.cards-carousel.carousel.slide.carousel-fade.well.well-sm{"data-ride": "carousel", "data-interval": 5000, "data-pause": "hover"}
  .carousel-inner{role: "listbox"}
    - @resources.each_with_index do |resource, index|
      .item{class: (index == 0 ? "active" : "")}
        = render partial: "shared/cards/resource", locals: {resource: resource}
