.centered-800

  %h3 What is Thriveability Lab?
  %p Thriveability Lab is a peer-to-peer platform where anybody with interest in fostering a more ‘thriving’ world can come to be inspired and empowered.
  %p Thriveability Lab aims to support people to connect, to learn and grow together, and to bring more visibility, collaboration, and impact to their initiatives.
  %p The platform is designed to support high quality conversations, creative action, community, experiment, sharing of resources, and the emergence of more integrative, life-enhancing values, paradigms, and approaches to change.

  %h3 Why thriveability?
  %p Thriveability refers to ‘our ability to thrive’ ~ our individual and collective capacity to ‘flourish’ and ‘flower’ in synergy with ourselves, each other, and Nature.
  %p Thriveability is thus about more than the ability to ‘sustain’ ourselves (sustainability), and offers an inspiring ideal, a mobilizing vision for the future that can speak to all humans. Because after all, who doesn’t want to thrive? Fundamentally, the notion reveals an appreciation of the human potential for goodness, truth, and beauty, and an exciting sense of what life is all about.

  %h3 Why a lab-approach to change?
  %p It is becoming clear that our complex, systemic, global challenges cannot be addressed with approaches based on traditional planning and top-down control.
  %p We therefore aim to support more daring and innovative approaches. Approaches based on experiment, learning, self-organization, and creative collaboration. That is, ‘laboratory-style’ approaches to change.
  %p That’s why we refer to our platform as a lab. A lab where we bundle our creative forces to advance our capacity for thriving. Hence: Thriveability Lab.

  %h3 A value-driven social platform
  %p Many social platforms suffer from a host of problems because they are shaped by the corporate values that dominate our economy and society. That is, they are profit-driven rather than value-driven.
  %p We don’t believe in this approach. Yet we do see the enormous potential of social platforms for making change for the better.
  %p That’s why we have created a value-driven social platform: a platform inspired by values and worldviews that are currently gaining traction on a global scale, and offer powerful alternatives for the narrow-minded focus on profit only.
  %p These values include mindfulness, nature, service to the greater whole, integration, compassion, purpose, inner growth, openness to learning, and collaboration. Thriveability Lab aims to both support and embody these values.

  %h3 Who's behind this site?

  %p Annick and Topher have been working on this platform for a number of years, motivated to create a social platform that is designed for supporting the deep, transformative change that we sense is so needed in our world.

  - @team.each do |user|
    %div{style: "min-height: 60px;"}
      = link_to image_tag(user.image.url(:thumb), class: "img-rounded", style: "float: left; width: 50px;"), user_path(user)
      %div{style: "margin-left: 60px;"}
        %span.h4
          = link_to user.full_name, user_path(user)
        .nowrap= user.location
        .nowrap= user.tagline
