%h1.text-center Integral Climate

%hr

%h4 Recent users

.tiles-of-user-images{style: 'position: relative;'}
  - User.all.each do |user|
    %div{style: 'float: left; padding: 3px;'}
      %div{style: 'width: 50px; height: 50px; background: #ddd;'}
        = link_to image_tag(user.image.url(:thumb), style: "width: 100%;"), user_path(user)
  .clearfloat

%hr

.row
  .col-sm-5
    .well{style: 'min-height: 200px;'}
      %h4 Active projects
  .col-sm-2
    %p.text-center= link_to 'TAKE AN ACTION', '#', class: 'btn btn-primary'
  .col-sm-5
    .well{style: 'min-height: 200px;'}
      %h4 Calendar of member events

.row
  .col-sm-2
  .col-sm-8
    .well{style: 'min-height: 200px;'}
      %h4 Since you were here last time...

.row
  .col-sm-5
    .well{style: 'min-height: 200px;'}
      %h4 Discussions for you
  .col-sm-2
  .col-sm-5
    .well{style: 'min-height: 200px;'}
      %h4 Projects for you

.row
  .col-sm-2
  .col-sm-8
    .well{style: 'min-height: 200px;'}
      %h4 Resources for you
