.centered-800.large-body-text
  %h1 How you can help

  %h3 Use it
  %p Use this site. Add your content to it. Pay attention to your experience on the site. What works well? What doesn't? What's confusing? Use the "Give Feedback" link (bottom of the page) to share your experience with us. We're thirsty for more data on how people are using the site, and what needs improvement!

  %h3 Share it
  %p Share this site with others who you think would benefit from it. Right now we need more exposure, and a greater variety of people bringing their energy and enthusiasm to this hub and lab.

  %h3 Name it
  %p
    How much do you resonate with the name "Thriveability Lab"? Does a zestier name pop into your head? Please share any naming ideas with us!
    = link_to fa_icon("commenting") + " Give feedback", feedback_form_url, target: "_blank"

  %h3 Hack it
  %p
    Do you have web development, design, copywriting, marketing, community building, or project management experience? Would you be excited to work with us to improve our platform, either one specific part of it or as a general contributor? Or do you know someone who does? We'd love to hear from you;
    = mail_to "contact@thriveabilitylab.com", "please reach out!"
