.centered-800

  %h1 How you can help the Thrivability project

  %h3 Use it
  %p Use this site. Add your content to it. Pay attention to your experience on the site (what works well? what doesn't? what's confusing?) and use the "Give Feedback" link (bottom of the page) to share your experience with us. We're very thirsty for more data on how people are using the site, and what needs improvement!

  %h3 Share it
  %p Share this site with others who you think would benefit from it. Right now we need more exposure, and more variety of people bringing their energy and enthusiasm to this hub.

  %h3 Name it
  %p
    How much do you resonate with the name "Thrivability Lab"? Does a zestier name pop into your head? Please share any naming ideas with us!
    = link_to fa_icon("commenting") + " Give feedback", feedback_form_url, target: "_blank"

  %h3 Hack it
  %p Do you have web development, design, copywriting, or project management experience? Would you be excited to work with us to improve the site, either one specific part of it or as a general contributor? Or do you know someone who does? We'd love to hear from you; please reach out!
