= form_tag(projects_path, method: :get) do
  %h3 Search all projects
  .row.row-padded
    .col-xs-2 <strong>Tag</strong>
    .col-xs-10
      %select.js-chosen{name: "tags", data: { placeholder: "All tags" }}
        %option
        - popular_project_tags(15).each do |name|
          - selected = filters[:tags].to_s.split(", ").include?(name)
          %option{value: name, selected: selected}= name
  .row.row-padded{style: "padding-bottom: 30px;"}
    .col-xs-2
    .col-xs-10
      = submit_tag "Search", class: "btn btn-primary"
