.centered-800
  %h1 Supportive resources for project owners

  %ul
    %li= link_to "MetaImpact framework", "https://www.metaintegral.com/", target: "_blank"
    %li= link_to "Heroes and Friends", "https://www.heroesandfriends.com/", target: "_blank"
