.row
  .col-md-4
    %h1 All Projects
    %p Projects are all the colorful ways we are making the world more sustainable. Use projects to share what you're working on, and learn about the initiatives of others.
    %p
      = link_to "Add your project", new_project_path, class: "btn btn-success"

    = render partial: "search", locals: {filters: @filters}

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/projects.jpg", style: "width: 100%;"

  .col-md-8
    - @projects.each do |project|
      = render partial: "list_row", locals: {project: project, opts: {}}
