%div{style: "width: 100%; height: 300px; overflow: hidden;"}
  = image_tag "list_images/resources.jpg", style: "width: 100%; margin-top: -114px;"

%p{style: "padding-top: 10px;"} Resources offer ideas and tools that help us make meaningful change.

%p Here you can share any documents, videos, or websites you consider valuable for the community. Please take a minute to clarify <em>why</em> you think this resource is useful, and <em>whom</em> it would be particularly useful for. This way people will find their way to your resource more easily.

%p However, be sure to only upload files that you have the right to share! Otherwise, refer to it with a link, so people can access it at the appropriate place.

%p Please share any resource you consider valuable for the community. However, be sure to <span class='text-danger'>only upload files that you have the right to share!</span> Otherwise, refer to it with a link, so people can access it at the appropriate place.
