%h1 Edit resource
.row
  .col-sm-8
    = render partial: "form"
    %hr
    %p= link_to fa_icon("trash") + " Delete this resource", resource_path(@resource), method: :delete, "data-confirm": "Really remove this resource? This action can't be undone.", class: "text-danger"
  .col-sm-4.hidden-xs
    = render partial: "form_sidebar"
