.row
  .col-md-4
    %h1 All Resources
    %p Resources offer ideas and tools that help us make meaningful change. Use resources to share useful documents, videos, or websites, and search those of others.
    %p
      = link_to "Share a resource", new_resource_path, class: "test-new-resource-link btn btn-success"

    = render partial: "search", locals: {filters: @filters}

    .hidden-sm.hidden-xs{style: "padding-top: 30px;"}
      = image_tag "list_images/resources.jpg", style: "width: 100%;"

  .col-md-8
    - @resources.each do |resource|
      = render partial: "list_row", locals: {resource: resource, opts: {}}
