= form_tag(search_posts_path, method: :get, class: "test-filter-posts") do
  %h3 Find conversations
  .row.row-padded
    .col-xs-10
      %select.js-chosen{name: "tags", data: { placeholder: "Topic" }}
        %option
        - popular_post_tags(15).each do |name|
          - selected = filters[:tags] == name
          %option{value: name, selected: selected}= name
  .row.row-padded
    .col-xs-10
      %select.js-chosen{name: "author_id", data: { placeholder: "Author" }}
        %option
        - @authors.each do |author|
          - selected = filters[:author_id] == author.id.to_s
          %option{value: author.id, selected: selected}= author.full_name
  .row.row-padded
    .col-xs-10
      = submit_tag "Search", class: "btn btn-primary test-search-conversations-button"
