.hint{style: "padding-top: 20px;"}
  %p
    %strong Ways to support awesome conversation:
  %ul
    %li Reflect on the intention or goal you aim to serve with this conversation.
    %li Clarify where you're coming from: what experience(s) led to your position?
    %li Ask others for their perspective on the issue!
    %li Take a deep breath. Follow your heart. Use your mind.
