.carousel, .carousel .carousel-inner, .carousel .item {
  height: 400px;
  overflow: hidden;
}

.carousel-caption {
  padding-bottom: 140px;
}

.carousel .static-title {
  position: absolute;
  width: 100%;
  top: 45%;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
