.carousel, .carousel .carousel-inner, .carousel .item {
  overflow: hidden;
}

.cards-carousel {
  position: relative;
  width: 100%;
  height: 120px;
  margin-bottom: -10px;

  .carousel-inner {
    position: absolute;
    width: 100%;
    height: 110px;
  }
}

.carousel-fade {
  .carousel-inner {
    padding-right: 18px; // ensure the inner div doesn't overflow the right margin

    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
