.carousel, .carousel .carousel-inner, .carousel .item {
  overflow: hidden;
}

.cards-carousel {
  position: relative;
  width: 100%;
  height: 110px;

  padding: 5px;
  margin-bottom: -10px;

  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  .carousel-inner {
    position: absolute;
    width: 100%;
    height: 100px;
  }
}

.carousel-fade {
  .carousel-inner {

    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
