
// Layout

#main-container { padding-bottom: 50px; }

h1 { margin-top: 0px; }

.dropdown-toggle { cursor: pointer; }
.centered-1000 { max-width: 1000px; margin-left: auto; margin-right: auto; }
.centered-800  { max-width:  800px; margin-left: auto; margin-right: auto; }
.centered-600  { max-width:  600px; margin-left: auto; margin-right: auto; }
.row-padded {
  padding-top: 5px;
  padding-bottom: 5px; }
.row-padded-top { padding-top: 5px; }
.row-padded-bottom { padding-bottom: 5px; }

// Utilities

// TODO: change to just .hidden; remove unwanted Bootstrap side-effects
.js-hidden { display: none; }
.show-if-js { display: none; }
.float-left  { float: left; }
.float-right { float: right; }
.clear-float  { clear: both; }
.nowrap { white-space: nowrap; }
.em { font-style: italic; }
.strong { font-weight: bold; }

.image-framed {
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 10px 0px #999; }
.image-framed-tiny {
  padding: 0;
  border: none;
  box-shadow: 2px 2px 6px 0px #aaa; }

// Bootstrap fixes

.label a { color: #fff !important; }
.text-danger { color: #a94442 !important; }
table.table { width: auto; }

// Font Awesome fixes

.fa.fa-spinner { -webkit-animation: spin 2s infinite linear; }
@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }

// Forms

textarea { min-height: 100px; }
.field_with_errors { border-bottom: 2px solid #a94442; }
#error_explanation {
  // TODO: Could I just import from .alert and .alert-danger?
  color: #B20000;
  background-color: #FFdddd;
  border: 1px solid #FF8080;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 110%;
    margin-top: 10px;
  }
}
