
// Template

#main-container { padding-bottom: 50px; }
.dropdown-toggle { cursor: pointer; }

// Utility

.js-hidden { display: none; }
.js-loading { background-image: asset-url("loading.gif"); }

.float-left  { float: left; }
.float-right { float: right; }
.clearfloat  { clear: both; }

.text-danger { color: #a94442 !important; }

// Forms

.row.row-padded {
  padding-top: 5px;
  padding-bottom: 5px;
}
.row.row-padded-top {
  padding-top: 5px;
}
.row.row-padded-bottom {
  padding-bottom: 5px;
}

textarea { min-height: 100px; }

.field_with_errors {
  // box-shadow: 0px 0px 5px 0px red;
  // border-radius: 5px;
  border-bottom: 2px solid #a94442;
}

#error_explanation {
  color: #B20000;
  background-color: #FFdddd;
  border: 1px solid #FF8080;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 110%;
    margin-top: 10px;
  }
}
