#main-navbar {
  max-width: 1200px; margin-left: auto; margin-right: auto;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  .navbar-brand { color: #ea5033; font-size: 120%; }
  .navbar-nav > li > a { font-size: 110%; }
  .navbar-nav > li > a.orange { color: #ea5033; }
}
