.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  .navbar-brand { color: #3c863c; font-size: 120%; }
  .navbar-nav > li > a { font-size: 110%; }
  .navbar-nav > li > a.orange { color: #3c863c; }
}
