ul.notifications-list {
  .notification a { text-decoration: none; }
  // .notification.unread a { color: #339; }
  .notification.read a { color: #777; }
  .notification-icon {
    float: left;
    width: 30px;
    margin-left: -35px;
    margin-top: 5px;
  }
}

.all-notifications-list {
  .notification.read {
    color: #888;
  }

  .notification.read a {
    color: #466;
  }
}
