.bottom-comment {
  font-size: 95%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(150, 150, 150, 0.2);
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.1);
}
