// TODO: change to just .hidden; remove unwanted Bootstrap side-effects
.js-hidden { display: none; }
.show-if-js { display: none; }
.float-left  { float: left; }
.float-right { float: right; }
.clear-float  { clear: both; }
.nowrap { white-space: nowrap; overflow: hidden; }
.em { font-style: italic; }
.strong { font-weight: bold; }
.hint { color: #275972; } // original: #31708f
ul.less-indent { padding-left: 25px; }
div.blank-space { width: 100%; height: 20px; }

// Bootstrap fixes
.text-info { color: #275972; } // original: #31708f
.text-danger { color: #a94442 !important; }
table.table { width: auto; }

.label { font-weight: normal; }
.label-default { background-color: #888; }
.label a { color: #fff !important; }

.text-ellipsis { text-overflow: ellipsis; }
