%hr
#footer{style: "padding-bottom: 15px"}
  %p.text-center
    = link_to "About", about_path
    &nbsp; &nbsp;
    = link_to fa_icon("envelope") + " Join our newsletter", "http://eepurl.com/cWwWWf", target: "_blank"
    &nbsp; &nbsp;
    = link_to fa_icon("commenting") + " Give feedback", "https://goo.gl/forms/D5v9vsIB3aE4j1kg2", target: "_blank"
