%head
  %title IntegralClimateAction
  / Tell mobile devices to pretend they're small screens so responsive
  / styling takes effect.
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}

  = stylesheet_link_tag "application", media: "all"
  -# %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,900", rel: "stylesheet"}
  = javascript_include_tag "application"
  = javascript_include_tag "//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"
  = csrf_meta_tags
